body {
  background-color: #fef3e2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center {
  text-align: center;
}

h1 {
  font-family: "Climate Crisis", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fa4032;
  font-size: 3rem;
}

.form-control {
  background-color: transparent;
  border: #FAB12F 2px solid;
}

.form-control:focus {
  background-color: transparent;
  border: #FAB12F 2px solid;
  box-shadow: 0 0 0 0.2rem rgba(250, 129, 47, 0.25);
}

label {
  color: #FAB12F;
}

.form-floating > .form-control:focus ~ label {
  color: #FAB12F;
}

.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating > .form-control:focus ~ label::after {
  background-color: transparent;
  color: #FAB12F; 
}

.btn-transparent {
  background-color: #FAB12F;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-transparent:hover {
  background-color: #fa4032;
}

.btn-transparent:focus {
  border: #FAB12F 2px solid;
  box-shadow: 0 0 0 0.2rem rgba(250, 129, 47, 0.25);
}
